.container{
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
   
}

section{
    width: 100%;
    max-width: 350px;
    margin-right: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

h1{
    margin-top: 60px;
    font: 500 36px Roboto,sans-serif;
}

input{
    width: 100%;
    height: 60px;
    border: 1px solid #DCDCE5;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 15px;
    padding-left: 15px;
    font: 400 18px Roboto,sans-serif;
}
button{
    width: 100%;
    background: #E02041;
    color: #fff;
    height: 60px;
    border: none;
    border-radius: 8px;
    font: 700 18px Roboto,sans-serif;
    margin-bottom: 40px;
}
a{
    text-decoration: none;
    color: #000;
    font: 700 14px Roboto,sans-serif;
}

/* form{
    width: 100%;
    max-width: 350px;
    margin-right: 30px;
    align-items: center;
    justify-content: center;
    
    border: 1px solid #000;
} */
.form input{
    width:100%;
}
