@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:#F0F0F5;
    font: 400 14px Roboto,sans-serif;
}
input, button, textarea{
    font: 400 18px Roboto, sans-serif;
}

button{
    cursor: pointer;
}
button:hover{
    opacity:90%;
    transition: 0.9s;
}
/* h1,button,input,p{
   font-family: 'Roboto', sans-serif;
   
} */